.btn {
  display: block;
  padding: var(--space-xxs) var(--space-m);
  background-color: transparent;
  border: solid 2px transparent;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: filter 400ms, color 200mx;

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    transition: filter 250ms, color 200ms;
  }

  &--primary {
    color: var(--color-white);
    background-color: var(--color-primary);
    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-white);
      filter: saturate(1.4) brightness(115%);
    }
  }
  &--secondary {
    color: var(--color-white);
    background-color: var(--color-secondary);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-white);
      filter: saturate(1.2) brightness(110%);
    }
  }
  &--light {
  color: var(--color-dark);
  background-color: var(--color-light);

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    color: var(--color-dark);
    filter: brightness(92%);
  }
  }
  &--dark {
    color: var(--color-white);
    border-color: var(--color-dark);
    background-color: var(--color-dark);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-white);
    }
  }
    
}